* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --yellow-color: #fdb813;
  --black: #000;
}
a {
  text-decoration: none;
}

input:focus-visible {
  border: none;
  outline: none;
}

.login-button {
  background-color: var(--yellow-color) !important;
  padding: 8px 30px !important;
  outline: none !important;
  border: none !important;
}
.login-button:hover {
  background-color: transparent !important;
  color: var(--black);
}

.inner-card{
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.pie-chart {
  width: 50px;
  height: 50px;
}
.card {
  min-width: 250px !important;
}
.card-data {
  margin-left: 1rem;
}
.card-container{
  margin-top: 5rem;
}
.card{
  background-image: url("./assets//card-design.png");
  background-size: cover;
}
.line-chart{
  margin-top: 9rem;
}
.image-section{
  min-height: 200px;
  border-radius: 20px;
}
.camera-icon{
  font-size: 4rem !important;
}